@model StudentModel
@*@{
    ViewData["Title"] = Model.Name + " "+  Model.SurName;
    
}*@

</>
<h1 style="color:gold">@Model.Name &nbsp;@Model.SurName </h1>

<div style="color:antiquewhite">
    <h4>Student</h4>
    <hr />
    <dl style="color:antiquewhite" class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Name)
            @*<label asp-for="Name"></label>*@
        </dt>
        <dd class="col-10">
            @*@Model.Name*@
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.SurName)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.SurName)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.SchoolNo)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.SchoolNo)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.DateOfBirthdayDisplay)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.DateOfBirthdayDisplay)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.ClassNameDisplay)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.ClassNameDisplay)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.LessonDisplay)
        </dt>
        <dd class="col-10">
            @Html.Raw(Model.LessonDisplay)
        </dd>


    </dl>
</div>
<div class="custombutton">
    <a asp-action="Edit" class="custombutton" style="background-color:darkmagenta" asp-route-id="@Model?.Id">  &nbsp; Edit  &nbsp;</a>&nbsp;|&nbsp;
    <a asp-action="Index" class="custombutton" style="background-color:darkmagenta"> &nbsp; Back to List &nbsp;</a>
</div>


