@model ClassModel
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Class Details";
}

<h1 style="color:darkgoldenrod">CLASS DETAILS</h1>

<div>
    <h4 style="color:aliceblue">@Model.Name</h4>
    <hr />
    <dl style="color:aliceblue" class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.StudentCountDisplay)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.StudentCountDisplay)
        </dd>
   
    </dl>
</div>
<div class="custombutton">
    <a asp-action="Edit" class="custombutton" style="background-color:darkmagenta" asp-route-id="@Model?.Id">  &nbsp; Edit  &nbsp;</a>&nbsp;|&nbsp;
    <a asp-action="Index" class="custombutton" style="background-color:darkmagenta"> &nbsp; Back to List &nbsp;</a>
</div>



