@model IEnumerable<ClassModel>
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Class";
}

<h1 style="color:aliceblue">@ViewData["Title"]</h1>

<p>
<p class="custombutton">
    <a asp-action="Create" class="custombutton" style="background-color:darkorchid">
        &nbsp;
        Create New
        &nbsp;
    </a>
</p>
</p>
@if (TempData["Message"] is not null)
{
    <p class="text-warning">@TempData["Message"]</p>
}
<table style="background-color: rgba(255,255,255,0.3)" class="table">

    <thead >
        <tr style="font-size:large">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
    @*        <th>
                @Html.DisplayNameFor(model => model.Capacty)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StudentCountDisplay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
				<tr style="color:aliceblue" class="table">
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
				@*	<td>
						@Html.DisplayFor(modelItem => item.Capacty)
					</td>*@
                <th>
                    @Html.DisplayFor(modelItem => item.StudentCountDisplay)
                </th>
				
					<td >
                    <a asp-action="Details" style="color:paleturquoise " asp-route-id="@item.Id">Details</a>&nbsp;|&nbsp;
                    <a asp-action="Edit" style="color:darkgoldenrod " asp-route-id="@item.Id">Edit</a>&nbsp;|&nbsp;
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
		}
    </tbody>
</table>


@section Scripts {
        <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
        <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>

        <script>
            $(function () {
                $("#classes").DataTable();
            });
        </script>
}




