@model HomeIndexViewModel
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Report";
}

<h1 style="color:aliceblue">@ViewData["Title"]</h1>

<form asp-action="Index" method="get">
    <div style="color:aliceblue" class="row">
        <div style="color:aliceblue" class="col-2">
            @await Component.InvokeAsync("Classes")
        </div>

        <div class="col-10">
            <h5>Filters</h5>
            <hr />
            <div class="row">


                <div class="col-3">
                    <input asp-for="Filter.StudentName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Filter.StudentName)" />
                </div>
               
                <div class="col-4">
                    <input asp-for="Filter.StudentSurName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Filter.StudentSurName)" />
                </div>
                <div class="col-3">
                    <select asp-for="Filter.ClassId" asp-items="Model.Classes" class="form-select select2">
                        <option value="">@Html.DisplayNameFor(m => m.Filter.ClassId)</option>
                    </select>
                    
                </div>
                <div class="col-4">
                    <select mulitple asp-for="Filter.LessonIds" asp-items="Model.Lessons" class="form-select select2">
                    </select>
                </div>
            </div>
         

            <div class="row" style="padding-top: 15px;">
                <div class="col-7">
                    <button type="submit" class="btn btn-primary">Search</button>
                    &nbsp;&nbsp;
                </div>
                <div class="col-5">
                    <a asp-action="Index" class="btn btn-primary">Clear</a>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Report != null && Model.Report.Count > 0)
    {
        <table style="background-color: rgba(255,255,255,0.3)" class="table table-striped table-hover kutu">
            <thead>
                <tr>
                    @* <th>
                @Html.DisplayNameFor(model => model.Report.FirstOrDefault().LessonName)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Report.FirstOrDefault().ClassName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Report.FirstOrDefault().schoolNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Report.FirstOrDefault().StudentName)
                    </th>
                  
                    <th>
                        @Html.DisplayNameFor(model => model.Report.FirstOrDefault().StudentSurName)
                    </th>
                @*    <th>
                        @Html.DisplayNameFor(model => model.Report.FirstOrDefault().DateOfbirthDay)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Report.FirstOrDefault().LessonName)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Report)
                {
                    <tr style="color:aliceblue">
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.schoolNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentSurName)
                        </td>
                     
                        <td>
                            @Html.DisplayFor(modelItem => item.LessonName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-danger">Record not found.</p>
    }
</form>

